version: '3'
services:
  react:
    build:
      context: .
      dockerfile: ./dockerfile/react/Dockerfile
    container_name: react_container
    tty: true
    environment:
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./:/usr/src/frontend
    command: sh -c "cd frontend && yarn install && yarn start"
    ports:
      - 3000:3000

  go:
    build: 
      context: .
      dockerfile: ./dockerfile/go/Dockerfile
    links: 
      - mongodb
    depends_on:
      - mongodb
    container_name: go_container
    ports:
      - 8000:8080
    tty: true
    volumes:
      - .:/usr/src/backend
    command: sh -c "cd backend && go run main.go"
  
  mongodb:
    image: mongo
    container_name: mongodb
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password123
    ports:
      - 27017:27017
    volumes:
      - mongo:/data/db
      - mongo:/data/configdb

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_SERVER: mongodb
      ME_CONFIG_MONGODB_PORT: 27017
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: password123
    depends_on:
      - mongodb

volumes:
  mongo: